<section class="section about-section" id="about">
    <div class="container">
      <div class="about-section__container">
        <h2 class="about-section__title">About Us</h2>
        <p class="about-section__text">
          The model offers a framework for discussing problems related to
          the user's experience, as well as possible ways and means of
          solving them. Application development begins at the top level
          (strategy), where the future software product is described quite
          abstractly from the point of view of the expectations of both
          users and the customer.
        </p>
        <ul class="list quantity-list">
          <li class="quantity-list__item list__item">
            <p class="quantity-list__text quantity-list__text--first">800</p>
            <p class="quantity-list__text quantity-list__text--second">Pupils</p>
          </li>
          <li class="quantity-list__item list__item">
            <p class="quantity-list__text quantity-list__text--first">18</p>
            <p class="quantity-list__text quantity-list__text--second">Teachers</p>
          </li>
          <li class="quantity-list__item list__item">
            <p class="quantity-list__text quantity-list__text--first">6</p>
            <p class="quantity-list__text quantity-list__text--second">Foreign languages</p>
          </li>
        </ul>
      </div>
      <img class="about-section__img img" src="./images/about-us.svg" alt="About Us Image" />
    </div>
  </section>