<section class="section section-about" id="about">
    <div class="container">
      <div class="about-container">
        <h2 class="section-title title-about">About Us</h2>
        <p class="section-text">
          The model offers a framework for discussing problems related to
          the user's experience, as well as possible ways and means of
          solving them. Application development begins at the top level
          (strategy), where the future software product is described quite
          abstractly from the point of view of the expectations of both
          users and the customer.
        </p>
        <ul class="list statistic-list">
          <li class="list-item">
            <p class="about-text main-about">800</p>
            <p class="about-text second-text">Pupils</p>
          </li>
          <li class="list-item">
            <p class="about-text main-about">18</p>
            <p class="about-text second-text">Teachers</p>
          </li>
          <li class="list-item">
            <p class="about-text main-about">6</p>
            <p class="about-text second-text">Foreign languages</p>
          </li>
        </ul>
      </div>
      <img class="img" src="./images/about-us.svg" alt="About Us Image" />
    </div>
  </section>