<section class="section section-contact" id="contacts">
    <div class="container">
      <img class="img" src="./images/contact.svg" alt="Contact Us" />
      <div class="contact-block">
        <h2 class="section-title contact-title">Contact Us</h2>
        <p class="section-text contact-text">
          Discover your current English level by taking our free online
          English test. Sign up to our newsletter for learning tips and free
          resources
        </p>
        <form class="footer-form">
          <label class="footer-form-field">
          <input
            class="footer-form-field-input"
            type="email"
            name="e-mail"
            placeholder="Enter Your E-mail"
          />
        </label>
          <button class="footer-form-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </section>