<section class="section contact-section" id="contacts">
    <div class="contact-section__container container">
      <img class="contact-section__img img" src="./images/contact.svg" alt="Contact Us" />
      <div class="contact-section__block">
        <h2 class="contact-section__title">Contact Us</h2>
        <p class="contact-section__text">
          Discover your current English level by taking our free online
          English test. Sign up to our newsletter for learning tips and free
          resources
        </p>
        <form class="footer-form">
          <label class="footer-form__field">
          <input
            class="footer-form__input"
            type="email"
            name="e-mail"
            placeholder="Enter Your E-mail"
          />
        </label>
          <button class="footer-form__btn btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </section>