<footer class="footer section-footer">
    <div class="section-footer__container container">
      <ul class="section-footer__list list">
        <li class="section-footer__item list__item">
          <a href="./index.html" class="link link__logo"
            >Brit<span class="logo-txt">lex</span>
          </a>
        </li>
        <li class="section-footer__item section-footer__item--policy">
          <a href="" class="link">Terms and Conditions</a>
        </li>
        <li class="section-footer__item section-footer__item--policy">
          <a href="" class="link">Privacy Policy</a>
        </li>
        <li class="section-footer__item section-footer__item--policy">
          <a href="" class="link">Cookie Policy</a>
        </li>
      </ul>
    </div>
  </footer>