<footer class="footer">
    <div class="container">
      <ul class="list">
        <li class="list-item">
          <a href="./index.html" class="link link-logo"
            >Brit<span class="logo-txt">lex</span>
          </a>
        </li>
        <li class="list-item policy-item">
          <a href="" class="link">Terms and Conditions</a>
        </li>
        <li class="list-item policy-item">
          <a href="" class="link">Privacy Policy</a>
        </li>
        <li class="list-item policy-item">
          <a href="" class="link">Cookie Policy</a>
        </li>
      </ul>
    </div>
  </footer>