<header class="header-section section" id="home" data-header>
    <div class="container header-section__container">
      <nav class="nav">
        <a href="./index.html" class="link link__logo"
          >Brit<span class="logo__txt">lex</span>
        </a>
        <ul class="list header-section__list">
          <li class="header-section__item">
            <a href="#home" class="link nav__link">Home</a>
          </li>
          <li class=header-section__item">
            <a href="#skills" class="link nav__link">Skills</a>
          </li>
          <li class="header-section__item">
            <a href="#about" class="link nav__link">About Us</a>
          </li>
          <li class="header-section__item">
            <a href="#pricing" class="link nav__link">Pricing</a>
          </li>
          <li class="header-section__item">
            <a href="#contacts" class="link nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="btn nav__btn" type="button">Let's Talk</button>
    </div>
  </header>