<header class="header" id="home" data-header>
    <div class="container header__container">
      <nav class="nav">
        <a href="./index.html" class="link link__logo"
          >Brit<span class="logo__txt">lex</span>
        </a>
        <ul class="list header__list">
          <li class="list__item">
            <a href="#home" class="link link__nav">Home</a>
          </li>
          <li class="lis__item">
            <a href="#skills" class="link link__nav">Skills</a>
          </li>
          <li class="list__item">
            <a href="#about" class="link link__nav">About Us</a>
          </li>
          <li class="list__item">
            <a href="#pricing" class="link link__nav">Pricing</a>
          </li>
          <li class="list__item">
            <a href="#contacts" class="link link__nav">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="button button__nav" type="button">Let's Talk</button>
    </div>
  </header>