<section class="hero">
    <div class="container container__hero">
      <div class="hero__txt">
        <div class="title__icon">
          <h1 class="main-title">
            Learn<br />
            Any Foreign Language
          </h1>
          <img class="img" src="../images/lamp.svg" alt="Lamp" />
        </div>
        <p class="main-text">
          With our teachers who write a program for each student, you will
          be able to make your first sketch after the first lesson.
        </p>
        <button class="button btn__hero" type="button" data-modal-open>Get started</button>
      </div>
      <img
        class="img img-hero"
        src="../images/hero.svg"
        alt="Our language lessons"
      />
    </div>
  </section>