<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal-btn" type="button" data-modal-close>
        <svg class="modal-icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    <form class="form-area">
      <strong class="form-area-title"></strong>
      <div class="form-group">
        <label class="form-field">
          <input type="text" class="form-field-input" name="user-name">
          <svg class="form-field-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
        <label class="form-field">
          <input type="text" class="form-field-input" name="user-phone">
          <svg class="form-field-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
        <label class="form-field">
          <input type="text" class="form-field-input" name="user-mail">
          <svg class="form-field-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
        <label class="form-field">
          <input type="text" class="form-field-input" name="user-location">
          <svg class="form-field-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
        <label class="form-field">
          <input type="text" class="form-field-input" name="language">
          <svg class="form-field-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
        <label class="form-checkbox">
          <input type="checkbox" class="form-field-checkbox" name="policy">
          <svg class="form-field-icon" width="20" height="20">
            <use class="checked" href="./images/symbol-defs.svg#icon-close"></use>
            <use class="unchecked" href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>
      </div>
      <button class="form-field-button" type="submit">Get started</button>
    </form>
    </div>
  </div>