<section class="section" id="pricing">
    <div class="container">
      <h2 class="section-title price-title">Pricing</h2>
      <ul class="list price-list">
        <li class="list-item">
          <img class="img" src="./images/pricing-1.svg" alt="Pricing" />
          <h3 class="block-title">Self-study online course</h3>
          <p class="block-text">
            Start learning English online in live classes with qualified EC
            teachers and students from all over the world.
          </p>
          <p class="price-text">
            £5.99<span class="time-text"> per month</span>
          </p>
        </li>
        <li class="list-item">
          <img
            class="img"
            src="./images/pricing-2.svg"
            alt="Live online classes"
          />
          <h3 class="block-title">Live online classes</h3>
          <p class="block-text">
            Interactive group classes with expert teachers. Free 7-day trial
          </p>
          <p class="price-text">
            £12.99<span class="time-text"> per month</span>
          </p>
        </li>
        <li class="list-item">
          <img
            class="img"
            src="./images/pricing-3.svg"
            alt="Personal Tuition"
          />
          <h3 class="block-title">Personal Tuition</h3>
          <p class="block-text">
            Online one-to-one English tutoring – enjoy our first session for
            only $1
          </p>
          <p class="price-text">
            £12.99<span class="time-text"> per month</span>
          </p>
        </li>
      </ul>
    </div>
  </section>