<section class="pricing-section section" id="pricing">
  <div class="pricing-section__container container">
    <h2 class="pricing-section__title">Pricing</h2>
    <ul class="pricing-section__list list">
      <li class="pricing-section__item list__item">
        <img
          class="pricing-section__img img"
          src="./images/pricing-1.svg"
          alt="Pricing"
        />
        <h3 class="pricing-section__subtitle">Self-study online course</h3>
        <p class="pricing-section__text">
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <p class="pricing-section__text--cost">£5.99<span class="pricing-section__text--duration"> per month</span></p>
      </li>
      <li class="pricing-section__item list__item">
        <img
          class="pricing-section__img img"
          src="./images/pricing-2.svg"
          alt="Live online classes"
        />
        <h3 class="pricing-section__subtitle">Live online classes</h3>
        <p class="pricing-section__text">
          Interactive group classes with expert teachers. Free 7-day trial
        </p>
        <p class="pricing-section__text--cost">
          £12.99<span class="pricing-section__text--duration"> per month</span>
        </p>
      </li>
      <li class="pricing-section__item list__item">
        <img
          class="pricing-section__img img"
          src="./images/pricing-3.svg"
          alt="Personal Tuition"
        />
        <h3 class="pricing-section__subtitle">Personal Tuition</h3>
        <p class="pricing-section__text">
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <p class="pricing-section__text--cost">
          £12.99<span class="pricing-section__text--duration"> per month</span>
        </p>
      </li>
    </ul>
  </div>
</section>
