<section class="section" id="skills">
    <div class="container">
      <h2 class="second-title">Skills</h2>
      <ul class="list skills-list">
        <li class="list-item second-item speaking-item">
          <img
            class="img"
            src="./images/skills-1.svg"
            alt=" first skills"
          />
          <h3 class="section-title">Speaking</h3>
          <p class="section-text">
            Improve your English skills and confidence. Live classes and
            interactive lessons online. 20% extra free for a limited time
            only Learn English online and improve your skills through our
            high-quality courses and resources – all designed for adult
            language learners.
          </p>
          <a class="link link-second" href="">Learn more</a>
        </li>
        <li class="list-item second-item writing-item">
          <img
            class="img"
            src="./images/skills-2.svg"
            alt="second skills"
          />
          <h3 class="section-title">Writing</h3>
          <p class="section-text">
            One of the most important and extensive areas of natural
            science, the science that studies substances, also their
            composition
          </p>
          <a class="link link-second" href="">Learn more</a>
        </li>
        <li class="list-item second-item reading-item">
          <img class="img" src="./images/skills-3.svg" alt="third skills" />
          <h3 class="section-title">Reading</h3>
          <p class="section-text">
            Perception and response actions of the user resulting from the
            use and/or upcoming use of the product, system or service
          </p>
          <a class="link link-second" href="">Learn more</a>
        </li>
        <li class="list-item second-item listening-item">
          <div class="content-box">
            <h3 class="section-title">Listening</h3>
            <p class="section-text">
              Here you can find activities to practise your listening
              skills. Listening will help you to improve your understanding
            </p>
            <a class="link link-second" href="">Learn more</a>
          </div>
          <img
            class="img img-skills"
            src="./images/skills-4.svg"
            alt="fourth skills"
          />
        </li>
      </ul>
    </div>
  </section>